In [33]:
import pandas as pd

dataset = {
    "Tid" : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    
    "Refund" : ['Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'],
    "MartialStatus" : ['Single', 'Married', 'Single', 'Married', 'Divorced', 'Married', 'Divorced', 'Single', 'Married', 'Single'],
    "TaxableIncome" : ['125K', '100K', '70K', '120K', '95K', '60K', '220K', '85K', '75K', '90K'],
    "Cheat" : ['No', 'No', 'No', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'Yes'],
}

ds = pd.DataFrame(dataset)
print(ds)

   Tid Refund MartialStatus TaxableIncome Cheat
0    1    Yes        Single          125K    No
1    2     No       Married          100K    No
2    3     No        Single           70K    No
3    4    Yes       Married          120K    No
4    5     No      Divorced           95K   Yes
5    6     No       Married           60K    No
6    7    Yes      Divorced          220K    No
7    8     No        Single           85K   Yes
8    9     No       Married           75K    No
9   10     No        Single           90K   Yes

In [34]:
print(ds.iloc[[0, 4, 7, 8]])

   Tid Refund MartialStatus TaxableIncome Cheat
0    1    Yes        Single          125K    No
4    5     No      Divorced           95K   Yes
7    8     No        Single           85K   Yes
8    9     No       Married           75K    No

In [35]:
print(ds.loc[0])
print("\n")
print(ds.loc[4])
print("\n")
print(ds.loc[7])
print("\n")
print(ds.loc[8])
print("\n")

Tid                   1
Refund              Yes
MartialStatus    Single
TaxableIncome      125K
Cheat                No
Name: 0, dtype: object


Tid                     5
Refund                 No
MartialStatus    Divorced
TaxableIncome         95K
Cheat                 Yes
Name: 4, dtype: object


Tid                   8
Refund               No
MartialStatus    Single
TaxableIncome       85K
Cheat               Yes
Name: 7, dtype: object


Tid                    9
Refund                No
MartialStatus    Married
TaxableIncome        75K
Cheat                 No
Name: 8, dtype: object

In [36]:
#  Select row from index 3 to 7

print(ds.iloc[3:8])

   Tid Refund MartialStatus TaxableIncome Cheat
3    4    Yes       Married          120K    No
4    5     No      Divorced           95K   Yes
5    6     No       Married           60K    No
6    7    Yes      Divorced          220K    No
7    8     No        Single           85K   Yes

In [37]:
#Select row from index 4 to 8, and column 2 to 4
# print(pd.iloc[rows_index, column_index])

print(ds.iloc[4:8, 2:4])

  MartialStatus TaxableIncome
4      Divorced           95K
5       Married           60K
6      Divorced          220K
7        Single           85K

In [38]:
#Select all rows with column index 1 to 3 (include index 3 during selection). 
#To print all options use slice ":"

print(ds.iloc[:, 1:4])

  Refund MartialStatus TaxableIncome
0    Yes        Single          125K
1     No       Married          100K
2     No        Single           70K
3    Yes       Married          120K
4     No      Divorced           95K
5     No       Married           60K
6    Yes      Divorced          220K
7     No        Single           85K
8     No       Married           75K
9     No        Single           90K

In [57]:
# Read a csv file and display its first five rows

#accesing a file directly from kaggle requires authentication, r is used to handle the backslashes 
csv_file = pd.read_csv(r'D:\Users\Rupam B\Downloads/iris.csv')
print(csv_file.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
# Read a csv file and display its first five rows

#accesing a file directly from kaggle requires authentication, r is used to handle the backslashes 
csv_file = pd.read_csv(r'D:\Users\Rupam B\Downloads/iris.csv')
print(csv_file.head())

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [65]:
# From the csv file (uploaded in the Q.4) delete row 4, and delete column 3

print("Before Modifying: ")

csv_file = pd.read_csv(r'D:\Users\Rupam B\Downloads/iris.csv')
print(csv_file.head())

print("\n")
print("After Modifying: ")

#rows
csv_file = csv_file.drop(index=3)
#column
csv_file = csv_file.drop(columns = csv_file.columns[2])

print(csv_file.head())

Before Modifying:
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa


After Modifying:
   Id  SepalLengthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1            1.4           0.2  Iris-setosa
1   2            4.9            1.4           0.2  Iris-setosa
2   3            4.7            1.3           0.2  Iris-setosa
4   5            5.0            1.4           0.2  Iris-setosa
5   6            5.4            1.7           0.4  Iris-setosa

In [49]:
# Create a sample dataset (employees.csv) containing information about employees in a company. 
import pandas as pd

dataSet = {
    "Employee_ID" : [101, 102, 103, 104, 105],
    "Name" : ["Alice", "Bob", "Charlie", "Diana", "Edward"],
    "Department" : ['HR', 'IT' ,'IT' ,'Marketing' ,'Sales'],
    "Age" : [29, 34, 41, 28, 38],
    "Salary" : [50000, 70000, 65000, 55000, 60000],
    "Years_of_experience" : [4, 8, 10, 3, 12],
    "Joining_Date" : ["2020-03-15", "2017-07-19", "2013-06-01", "2021-02-10", "2010-11-25"],
    "Gender" : ["Female", "Male", "Male", "Female", "Male"],
    "Bonus" : [5000, 7000, 6000, 4500, 5000],
    "Rating" : [4.5, 4.0, 3.8, 4.7, 3.5],
}
df = pd.DataFrame(dataSet)
print(df)
print("\n")
df.to_csv("employes.csv", index=False)
print("Data saved to employes.csv")

   Employee_ID     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5


Data saved to employes.csv

In [6]:
#a) Shape (number of rows and columns) of the DataFrame. 
print("Shape: ", df.shape)

Shape:  (5, 10)

In [9]:
# b) Summary of the DataFrame that includes the data types and non-null counts for  each column. 
summary = df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_ID          5 non-null      int64
 1   Name                 5 non-null      object
 2   Department           5 non-null      object
 3   Age                  5 non-null      int64
 4   Salary               5 non-null      int64
 5   Years_of_experience  5 non-null      int64
 6   Joining_Date         5 non-null      object
 7   Gender               5 non-null      object
 8   Bonus                5 non-null      int64
 9   Rating               5 non-null      float64
dtypes: float64(1), int64(5), object(4)
memory usage: 532.0+ bytes

In [11]:
#c) Generate descriptive statistics. 
stats = df.describe()
print(stats)

       Employee_ID        Age       Salary  Years_of_experience   Bonus  \
count     5.000000   5.000000      5.00000             5.000000     5.0
mean    103.000000  34.000000  60000.00000             7.400000  5500.0
std       1.581139   5.612486   7905.69415             3.847077  1000.0
min     101.000000  28.000000  50000.00000             3.000000  4500.0
25%     102.000000  29.000000  55000.00000             4.000000  5000.0
50%     103.000000  34.000000  60000.00000             8.000000  5000.0
75%     104.000000  38.000000  65000.00000            10.000000  6000.0
max     105.000000  41.000000  70000.00000            12.000000  7000.0

         Rating
count  5.000000
mean   4.100000
std    0.494975
min    3.500000
25%    3.800000
50%    4.000000
75%    4.500000
max    4.700000

In [15]:
#d) Display the first 5 rows and last 3 rows of the dataset.

print(df.head()) #first 5 rows
print("\n")
print(df.tail(3)) #last 3 rows

   Employee_ID     Name Department  Age  Salary  Years_of_experience  \
0          101    Alice         HR   29   50000                    4
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
0   2020-03-15  Female   5000     4.5
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5


   Employee_ID     Name Department  Age  Salary  Years_of_experience  \
2          103  Charlie         IT   41   65000                   10
3          104    Diana  Marketing   28   55000                    3
4          105   Edward      Sales   38   60000                   12

  Joining_Date  Gender  Bonus  Rating
2   2013-06-01    Male   6000     3.8
3   2021-02-10  Female   4500     4.7
4   2010-11-25    Male   5000     3.5

In [24]:
#e) Calculate the following statistics from the dataset:

# 1) The average salary of employees. 
print("Avg: ", df["Salary"].mean())
# 2) The total bonus paid to all employees.  
print("Total Bonus: ", df["Bonus"].sum())
# 3) The youngest employee's age. 
print("Youngest Employee Age: ", df["Age"].min())
# 4) The highest performance rating 
print("Highest performance rating: : ", df["Rating"].max())

Avg:  60000.0
Total Bonus:  27500
Youngest Employee Age:  28
Highest performance rating: :  4.7

In [27]:
sorted_frame = df.sort_values('Salary', ascending=False)
print("Sorted DataFrame:\n", sorted_frame)

Sorted DataFrame:
    Employee_ID     Name Department  Age  Salary  Years_of_experience  \
1          102      Bob         IT   34   70000                    8
2          103  Charlie         IT   41   65000                   10
4          105   Edward      Sales   38   60000                   12
3          104    Diana  Marketing   28   55000                    3
0          101    Alice         HR   29   50000                    4

  Joining_Date  Gender  Bonus  Rating
1   2017-07-19    Male   7000     4.0
2   2013-06-01    Male   6000     3.8
4   2010-11-25    Male   5000     3.5
3   2021-02-10  Female   4500     4.7
0   2020-03-15  Female   5000     4.5

In [29]:
#g) Add a new column that categorizes employees based on their performance rating: 
def performance(rating):
    if rating < 4.0:
        return "Average"
    elif rating >=4.0:
        return "Good"
    elif rating >=4.5:
        return "Excellent"
    else:
        return "Need Improvement"
    
df["Performance"] = df["Rating"].apply(performance)

print(df[["Rating", "Performance"]])

   Rating Performance
0     4.5        Good
1     4.0        Good
2     3.8     Average
3     4.7        Good
4     3.5     Average

In [34]:
#h) Identify missing values in the DataFrame.

print(df.isnull())
#True if missing value and vice versa

#other ways
print("\n")
print(df.isnull().sum())

   Employee_ID   Name  Department    Age  Salary  Years_of_experience  \
0        False  False       False  False   False                False
1        False  False       False  False   False                False
2        False  False       False  False   False                False
3        False  False       False  False   False                False
4        False  False       False  False   False                False

   Joining_Date  Gender  Bonus  Rating  Performance
0         False   False  False   False        False
1         False   False  False   False        False
2         False   False  False   False        False
3         False   False  False   False        False
4         False   False  False   False        False

In [35]:
#) Rename the Employee_ID column to ID. ]
df.rename(columns={'Employee_ID': 'ID'}, inplace=True)
print(df.head())

    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance
0  Female   5000     4.5        Good
1    Male   7000     4.0        Good
2    Male   6000     3.8     Average
3  Female   4500     4.7        Good
4    Male   5000     3.5     Average

In [43]:
#j) Find all employees who: 
# Find all employees who have more than 5 years of experience
# Find all employees who belong to the IT department

df_filtered = df[(df["Years_of_experience"] > 5) | (df["Department"] == "IT")]
print("\nEmployees with more than 5 years of experience or in IT:")
print(df_filtered)

Employees with more than 5 years of experience or in IT:
    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
4  105   Edward      Sales   38   60000                   12   2010-11-25

  Gender  Bonus  Rating Performance
1   Male   7000     4.0        Good
2   Male   6000     3.8     Average
4   Male   5000     3.5     Average

In [45]:
#k) Modify the dataset by adding a new column, Tax, which deducts 10% of the Salary.

df["Tax"] = df["Salary"] * 0.10
print("\nTax column:")
print(df)

Tax column:
    ID     Name Department  Age  Salary  Years_of_experience Joining_Date  \
0  101    Alice         HR   29   50000                    4   2020-03-15
1  102      Bob         IT   34   70000                    8   2017-07-19
2  103  Charlie         IT   41   65000                   10   2013-06-01
3  104    Diana  Marketing   28   55000                    3   2021-02-10
4  105   Edward      Sales   38   60000                   12   2010-11-25

   Gender  Bonus  Rating Performance     Tax
0  Female   5000     4.5        Good  5000.0
1    Male   7000     4.0        Good  7000.0
2    Male   6000     3.8     Average  6500.0
3  Female   4500     4.7        Good  5500.0
4    Male   5000     3.5     Average  6000.0

In [46]:
#l) Save the modified DataFrame (with added columns) to a new CSV file. 

df.to_csv("Modified_employees.csv", index=True)
print("Modified dataset saved to Modified_employees.csv")

Modified dataset saved to Modified_employees.csv